@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  /* Gradiente de fondo */
  --bg-gradient: linear-gradient(
    131deg,
    #76593a -3.63%,
    #c8a76e 55.5%,
    #76593a 107.94%
  );

  /* Color de fondo */
  --bg-content: #ffffff;

  /* Fondo del Contenedor */
  --bg-container: #0f1a0f;

  /* fondo del contador  */
  --bg-contador: #ffffff;

  /* Colores de texto */
  --text-primary: #000000;
  --text-secondary: #e6e6fa;
  --text-tertiary: #9370db;

  /* fondo de cards */
  --bg-card-1: #4a3a6f;
  --bg-card-2: #8878a5;

  /* fondo de botones */
  --bg-botones: linear-gradient(
    131deg,
    #4a3a6f -3.63%,
    #b19cd9 55.5%,
    #4a3a6f 107.94%
  );

  --bg-footer: #242424;
}
